@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  20% {
    transform: scale(0.9);
  }
}

@keyframes imgLoadingBackgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
