h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

//fixed right side white space on page (caused by container)
body {
  width: 100%;
  overflow-x: hidden;
}
