$colorPalette: (
  'primary': (
    'additional': #907e82,
    'dark': #000,
    'light': #fff,
  
  ),
  'secondary': (
    'orange': #ff6b08,
    'orange-shadow': rgba(255, 107, 1, 0.6),
    'white': #ffffff,
      'red': #FF001B,
  ),
);

$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 1280px,
);

$containerLRPaddings: 32px;
$containerLRPaddingsMobile: 20px;

$sectionTDPaddings: 60px;

$transitionData: (
  'time': 250ms,
  'timeFunction': cubic-bezier(0.4, 0, 0.2, 1),
);
