$colorPalette: (
  'primary': (
    'additional': #907e82,
    'dark': #000,
    'light': #fff,
  ),
  'secondary': (
    'orange': #ff6b08,
    'white': #ffffff,
  ),
  'pagination': (
    'orange': #ff6b08,
    'grey': #f7f7f7,
  ),
  'footer': (
    'text': #545454,
    'background': #f7f7f7,
  ),
  'accent': (
    'additional': #ffa5ba,
    'dark': #d41443,
    'light': #ffb8ca,
    'warning': #ff001b,
  ),
  'background': (
    'additional': #c2e297,
    'dark': #f0d1a5,
    'light': #fff5f6,
  ),
  'controls': (
    'accent': #d31342,
    'main': #d9d9d9,
  ),
  'icons': (
    'main': #fea5bb,
  ),
  'decoration': (
    'additional': #fafafa,
    'main': #e1e1e1,
  ),
  'hovered': (
    'additional': #9a092c,
    'main': #ecebeb,
  ),
  'menu': (
    'additional': #e18298,
    'main': #e17992,
  ),
  'modal': (
    'accent-color': #ff6b01,
    'characteristic-text-color': #8c8c8c,
    'text-in-accent': #ffffff,
    'color-characteristics-text': #000000,
    'background-color': #ffffff,
  ),
  'modal-buttons': (
    'hover-watched-btn': #ea6500,
    'focus-watched-btn': #ce5900,
    'hover-queue-btn': #f3f3f3,
    'focus-queue-btn': #e6e6e6,
  ),
  'loader': (
    'border': rgba(62, 190, 141, 0.6),
    'border-left': rgba(62, 190, 141),
  ),
);

:root,
:root.light {
  --bg-color: #fff;
  --bgr-color: #f7f5ec;
  --text-color: #123;
  --placeholder-stripes: #fff;
}

:root.dark {
  --bg-color: #272e34;
  --bgr-color: #607180;
  --text-color: #fff;
  --placeholder-stripes: rgba(255, 255, 255, 0.53);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

$breakpoints: (
  'mobile': 480px,
  'tablet': 768px,
  'desktop': 1280px,
);

$containerLRPaddings: 32px;
$containerLRPaddingsMobile: 20px;

$sectionTDPaddings: 60px;

$transitionData: (
  'time': 250ms,
  'timeFunction': cubic-bezier(0.4, 0, 0.2, 1),
);
