.btn {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 14px 36px 12px;

  font-size: 12px;
  line-height: 16px;

  text-transform: uppercase;

  color: getColorFromPalette('primary', 'light');

  border: 1px solid getColorFromPalette('primary', 'light');
  background-color: transparent;
  border-radius: 5px;

  transition: createTransitionFor('color' 'background-color');

  &:hover {
    background-color: getColorFromPalette('modal-buttons', 'hover-queue-btn');
    color: getColorFromPalette('primary', 'dark');
  }
  &:focus {
    background-color: getColorFromPalette('modal-buttons', 'focus-queue-btn');
  }
}

.btn-active {
  background: getColorFromPalette('secondary', 'orange');
  box-shadow: 0px 1px 16px 0px
    rgba(getColorFromPalette('secondary', 'orange'), 0.75);
  border: none;

  &:hover {
    background-color: getColorFromPalette('modal-buttons', 'hover-watched-btn');
  }
  &:focus {
    background-color: getColorFromPalette('modal-buttons', 'focus-watched-btn');
  }
}
