.btn {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 14px 36px 12px;

  font-size: 12px;
  line-height: 16px;

  text-transform: uppercase;

  color: getColorFromPalette('primary', 'light');

  border: 1px solid getColorFromPalette('primary', 'light');
  background-color: transparent;
  border-radius: 5px;

  &:hover,
  &:focus{
    transition: createTransitionFor('color');
    
  }
}

.btn-active {
  background: getColorFromPalette('secondary', 'orange');
  box-shadow: 0px 8px 43px getColorFromPalette('secondary', 'orange-shadow');
  border: none;
}
