.movie-card {
  @extend %unmarked-list;

  margin-top: 0px;
  font-family: $font-family-main;
  width: 100%;
  height: 100%;
}

.movie-card__link {
  @extend %clean-link;
  @extend %flex;

  flex-direction: column;
  height: 100%;
}

.movie-card__img-thumb {
  @extend %flex;
  flex-grow: 1;

  position: relative;

  background: #0000004a;
  border-radius: 5px;
  overflow: hidden;

  &--no-poster {
    $stripesWidth: 15px;
    $stripesMainColor: rgba(getColorFromPalette('primary', 'additional'), 0.3);

    background: unset;
    background-image: repeating-linear-gradient(
      to left bottom,
      getColorFromPalette('primary', 'light'),
      getColorFromPalette('primary', 'light') $stripesWidth,
      $stripesMainColor $stripesWidth,
      $stripesMainColor $stripesWidth * 2
    );
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(3.5);

    transition: createTransitionFor('opacity', '1s');

    opacity: 0;
    background-image: linear-gradient(
      125deg,
      #ff6b08 0%,
      hsl(187deg 79% 52%) 100%
    );
    background-size: 141% 300%;
    animation: imgLoadingBackgroundAnimation 3s ease-in-out infinite
      alternate-reverse;
    background-size: 100% 300%;
  }

  &--img-loading::before,
  &--img-fallback::before {
    opacity: 1;
  }

  &--img-loading .movie-card__img,
  &--img-fallback .movie-card__img {
    opacity: 0;
  }
}

.movie-card__img {
  width: 100%;
  height: 100%;

  transition: createTransitionFor('opacity', 2s);
  opacity: 1;

  object-fit: cover;
  object-position: 50% 50%;
}

.movie-card__poster-placeholder {
  @extend %rounded;
  @extend %flex--vh-centred;

  flex-wrap: wrap;
  align-content: center;

  font-size: 32px;
  text-align: center;
  color: getColorFromPalette('secondary', 'white');

  width: 240px;
  height: 240px;
  margin: auto;

  background-color: rgba(getColorFromPalette('primary', 'dark'), 0.8);
  box-shadow: 0px 0px 20px 0px #6d6d6d;

  @include mediaOver('tablet') {
    width: 300px;
    height: 300px;
  }
}

.movie-card__poster-placeholder--title {
  width: 82%;
  margin-bottom: 10px;

  color: getColorFromPalette('secondary', 'orange');
}

.movie-card__title {
  @extend %text-with-wrapped-overflow;

  font-family: $font-family-main;
  font-weight: $font-medium;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  flex-shrink: 0;
  margin: 0;
  margin-top: 8px;

  color: getColorFromPalette('primary', 'dark');

  @include mediaInBetween('tablet', 'desktop') {
    font-size: 12px;
    line-height: 1.33;
    margin-top: 8px;
  }

  @include mediaOver('desktop') {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 12px;
  }
}

.movie-card__movie-info-wrapper {
  @extend %flex--v-centred;

  font-family: $font-family-main;
  font-weight: $font-medium;
  font-size: 12px;
  text-transform: capitalize;

  width: 100%;
  margin: 0;

  color: getColorFromPalette('secondary', 'orange');

  @include mediaInBetween('tablet', 'desktop') {
    font-size: 12px;
    line-height: 1.33;
  }

  @include mediaOver('desktop') {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-card__item {
  @extend %unmarked-list;

  &--hidden-overflow {
    overflow: hidden;
  }

  &:last-child {
    margin-left: 6px;
  }
}

.movie-card__genres {
  @extend %text-with-wrapped-overflow;
}

.movie-card__item--accent {
  @extend %flex--vh-centred;

  font-family: $font-family-main;
  font-size: 12px;
  line-height: 1.2;
  border-radius: 5px;
  background-color: getColorFromPalette('secondary', 'orange');
  color: getColorFromPalette('secondary', 'white');
  padding: 1px 10px;

  @include mediaInBetween('tablet', 'desktop') {
    padding: 1px 10px;
  }

  @include mediaOver('desktop') {
    padding: 3px 12px;
  }
}
