.movie-card {
  @extend %unmarked-list;

  margin-top: 0px;
  font-family: $font-family-main;
  width: 280px;
  height: 438px;

  @include mediaInBetween('tablet', 'desktop') {
    width: 336px;
    height: 495px;
  }

  @include mediaOver('desktop') {
    width: 395px;
    height: 574px;
  }
}

.movie-card__link {
  @extend %clean-link;
}

.movie-card__title {
  font-family: $font-family-main;
  color: getColorFromPalette('primary', 'dark');
  font-weight: $font-medium;
  font-size: 12px;
  line-height: 1.33;
  margin: 0;
  text-transform: uppercase;
  margin-top: 8px;
  // font-style: italic;

  @include mediaInBetween('tablet', 'desktop') {
    font-size: 12px;
    line-height: 1.33;
    margin-top: 8px;
  }

  @include mediaOver('desktop') {
    font-size: 20px;
    line-height: 1.2;
    margin-top: 12px;
  }
}

.movie-card__box {
  font-family: $font-family-main;
  font-weight: $font-medium;
  font-size: 12px;
  display: flex;
  margin: 0;
  color: getColorFromPalette('secondary', 'orange');
  text-transform: capitalize;

  @include mediaInBetween('tablet', 'desktop') {
    font-size: 12px;
    line-height: 1.33;
  }

  @include mediaOver('desktop') {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-card__item {
  margin: 0;
}

.movie-card__item:not(:last-child) {
  margin-right: 7px;
}

.movie-card__item--acсent {
  @extend %flex--vh-centred;

  font-family: $font-family-main;
  font-size: 12px;
  line-height: 1.17;
  border-radius: 5px;
  background-color: getColorFromPalette('secondary', 'orange');
  color: getColorFromPalette('secondary', 'white');
  padding: 1px 10px;

  @include mediaInBetween('tablet', 'desktop') {
    padding: 1px 10px;
  }

  @include mediaOver('desktop') {
    padding: 3px 12px;
  }
}

.movie-card__img {
  border-radius: 5px;

  width: 280px;
  height: 398px;

  @include mediaInBetween('tablet', 'desktop') {
    width: 336px;
    height: 455px;
  }

  @include mediaOver('desktop') {
    width: 395px;
    height: 574px;
  }
}

// .is-hidden {
//   display: none;
// }
