.grid-set {
  display: grid;
  justify-content: center;

  grid-template-columns: minmax(
    calc(320px - 2 * $containerLRPaddingsMobile),
    calc(getBreakpointValue('mobile') - 2 * $containerLRPaddingsMobile)
  );
  grid-template-rows: 438px;
  grid-auto-rows: 438px;
  row-gap: 20px;

  @include mediaOver('tablet') {
    grid-template-columns: repeat(2, minmax(auto, 336px));
    grid-template-rows: 495px;
    grid-auto-rows: 495px;
    row-gap: 32px;
    column-gap: 32px;
  }

  @include mediaOver('desktop') {
    grid-template-columns: repeat(3, minmax(auto, 394px));
    grid-template-rows: 634px;
    grid-auto-rows: 634px;
    grid-column-gap: 16px;
    grid-row-gap: 32px;
  }
}
