.alert {
  opacity: 0;
  transition: opacity 250ms ease;
  position: absolute;
  top: 10;
  right: 10;
  font-family: $font-family-main;
  font-weight: $font-regular;
  font-size: 12px;
  padding: 20px 5px 20px 5px;
  background-color: rgba(getColorFromPalette('secondary', 'orange'), 0.5);
  color: getColorFromPalette('primary', 'light');
  width: 300px;
  min-height: 50px;
  text-align: center;
  border-radius: 8px;
}

.notification-is-visible {
  opacity: 1;
}

body {
  position: relative;
}
