.notif-list {
  font-family: $font-family-main;
  font-weight: $font-regular;
  font-size: 14px;

  position: absolute;
  top: 82px;
  right: 10;
}

.notif-list__item {
  @extend %unmarked-list;

  margin-bottom: 5px;
}

.notif-list__text {
  transform: translateX(-100%);
  padding: 20px;
  width: 300px;
  min-height: 50px;

  opacity: 0;
  background-color: rgba(getColorFromPalette('background', 'additional'), 0.75);
  color: getColorFromPalette('primary', 'dark');
  text-align: center;
  border-radius: 8px;

  transition: createTransitionFor('opacity' 'transform');

  &:hover,
  &:focus {
    cursor: pointer;

    background-color: rgba(
      getColorFromPalette('background', 'additional'),
      0.95
    );
  }

  &--alert {
    color: getColorFromPalette('primary', 'white');
    background-color: rgba(getColorFromPalette('secondary', 'orange'), 0.75);

    &:hover,
    &:focus {
      background-color: rgba(getColorFromPalette('secondary', 'orange'), 0.95);
    }
  }

  &--is-visible {
    transform: translateX(0);
    opacity: 1;
  }
}

body {
  position: relative;
}
