.pagination-section {
    &--sticky {
        position: sticky;
        bottom: 10;
    }
}

.pagination {
    @extend %flex--vh-centred;
    margin: 0 auto;
    padding: 14px 30px;
    
    border-radius: 10px;
    background-color: rgba(getColorFromPalette('primary', 'dark'), 0.65);

    @include mediaInBetween(420px, 480px) {
        margin: 0 20px;
    }

    @include mediaInBetween('mobile', 'tablet') {
        width: 420px;
    }

    @include mediaOver('tablet') {
        max-width: 604px;
    }

    &--width-S {
        margin: auto;
        width: 90px;
    }

    &--width-M {
        @include mediaUpTo('mobile') {
            margin: 0 20px;
        } 

        @include mediaOver('mobile') {
            margin: auto;
            width: 240px;
        }
    }

    &--width-L {        
        @include mediaOver('mobile') {
            width: 380px;        
        }
    }

    &--width-XL {
        @include mediaOver('mobile') {
            width: 490px;
        }
    }
}

.pagination__list {
    font-size: 12px;
    line-height: 1.33;

    column-gap: 16px;
    
    &--width-L {
        width: 432px;
    }

    @include mediaUpTo('420px') {
        column-gap: 8px;
    }
    
    @extend %flex--vh-centred;
    @extend %unmarked-list;
}

.pagination__item {
    &--hidden {
        @extend %visually-hidden;
    }
    
    &-dots {
        color: white;
        user-select: none;
    }
}

.pagination__btn {
    border: none;
    padding: 8px;
    min-width: 40px;
    border-radius: 5px;
    min-height: 40px;

    @extend %flex--vh-centred;
    text-align: center;

    background-color: getColorFromPalette('primary', 'light');

    transition: background-color 250ms cubic-bezier(.57, .21, .69, 1.25);

    @include mediaUpTo('420px') {
        padding: 4px;
    }

    &--margin-right {
        margin-right: 16px;

        @include mediaUpTo('420px') {
            margin-right: 8px;
        }
    }

    &--margin-left {
        margin-left: 16px;

        @include mediaUpTo('420px') {
            margin-left: 8px;
        }
    }

    &--active {
        background-color: getColorFromPalette('pagination', 'orange');
        color: getColorFromPalette('primary', 'light');
    }

    &-arrow {
        background-color: getColorFromPalette('pagination', 'grey');
    }

    &--hidden {
        @extend %visually-hidden;
    }

    &:hover {
        cursor: pointer;
        background-color: getColorFromPalette('pagination', 'orange');
        color: getColorFromPalette('primary', 'light');
        fill: getColorFromPalette('primary', 'light');
    }

    &:disabled {
        background-color: darkgrey;

        &:hover {
            cursor: default;
            background-color: darkgrey;
            fill: getColorFromPalette('primary', 'dark');
        }
    }
}

.pagination_svg {
    pointer-events: none;
}