.pagination-section {
    padding: 14px 0;
    border-radius: 10px;
    background-color: rgba(getColorFromPalette('primary', 'dark'), 0.65);

    &--sticky {
        position: sticky;
        bottom: 10;
        @extend %flex;
        margin: 0 auto;
    }
    
    @include mediaUpTo('mobile') {
        max-width: 460px;
        margin: 0 20px;
    }

    @include mediaInBetween('mobile', 'tablet') {
        width: 420px;
    }

    @include mediaOver('tablet') {
        width: 610px
    }
}

.pagination {
    @extend %flex--vh-centred;
}

.pagination__list {
    font-size: 12px;
    line-height: 1.33;

    @extend %flex--vh-centred;
    column-gap: 16px;
    
    @include mediaUpTo('tablet') {
        width: 240px;
    }

    &--width-L {
        width: 432px;
    }

    @extend %unmarked-list;
}

.pagination__item {
    &--margin-right {
        margin-right: 16px;
    }

    &--margin-left {
        margin-left: 16px;
    }

    &--hidden {
        @extend %visually-hidden;
    }
    
    &-dots {
        color: white;
        user-select: none;
    }
}

.pagination__btn {
    border: none;
    padding: 8px;
    min-width: 40px;
    border-radius: 5px;
    min-height: 40px;
    
    @extend %flex--vh-centred;
    text-align: center;

    background-color: getColorFromPalette('primary', 'light');
    
    transition: background-color 250ms cubic-bezier(.57, .21, .69, 1.25);

    &--margin-right {
        margin-right: 16px;
    }
    
    &--active {        
        background-color: getColorFromPalette('pagination', 'orange');
        color: getColorFromPalette('primary', 'light');
    }

    &-arrow {
        background-color: getColorFromPalette('pagination', 'grey');
    }

    &--hidden {
        @extend %visually-hidden;
    }

    &:hover {
        cursor: pointer;
        background-color: getColorFromPalette('pagination', 'orange');
        color: getColorFromPalette('primary', 'light');
        fill: getColorFromPalette('primary', 'light');
    }

    &:disabled {
        background-color: darkgrey;

        &:hover {
            cursor: default;
            background-color: darkgrey;
            fill: getColorFromPalette('primary', 'dark');
        }
    }
}

