.signin-btn,
.signout-btn {
  border: 1px solid #ff6b08;
  padding: 5px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;

  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  transition: All .25s cubic-bezier(.4,0,.2,1);

  &:hover {
    background-color: #ff6b01;
  }
}
#googleUser {
  width: 20px;
  height: 20px;
}

.btn__is-hidden {
  display: none;
}