@import './header';
@import './gallery';
@import './footer';
@import './movie-modal-window';
@import './pagination';
@import './team-modal-window';
@import './header-library';
@import './modal-auth';
