.film-card {
  max-height: 495px;
}

.film-card__title {
  font-family: $font-family-main;
  color: getColorFromPalette('primary', 'dark');
  font-weight: $font-medium;
  font-size: 12px;
  line-height: 1.33;
  margin: 0;

  @include mediaInBetween('tablet', 'desktop') {
    font-size: 12px;
    line-height: 1.33;
  }

  @include mediaOver('desktop') {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__box {
  font-family: $font-family-main;
  font-weight: $font-medium;
  font-size: 20px;
  display: flex;
  margin: 0;
  color: getColorFromPalette('secondary', 'orange');

  @include mediaInBetween('tablet', 'desktop') {
    font-size: 12px;
    line-height: 1.33;
  }

  @include mediaOver('desktop') {
    font-size: 20px;
    line-height: 1.2;
  }
}

.film-card__item {
  font-family: $font-family-main;
  margin: 0;
}

.film-card__item:not(:last-child) {
  margin-right: 7px;
}

.film-card__item--acсent {
  font-family: $font-family-main;
  font-size: 12px;
  line-height: 1.17;
  border-radius: 40px;
  background-color: getColorFromPalette('secondary', 'orange');
  color: getColorFromPalette('secondary', 'white');
  padding-left: 10px;
  padding-right: 10px;
}

// .is-hidden {
//   display: none;
// }
