.gallery {

    @include mediaUpTo('tablet') {
        margin: 20px auto 40pxgit  ;
    }
        
    @include mediaOver('tablet') {
        margin: 60px auto;
    }
}


.grid-card {
    display: grid;
    justify-content: center;

    @include mediaUpTo('tablet') {
        grid-template-columns: minmax(auto, 280px);
        grid-template-rows: minmax(438px, auto);
        row-gap: 20px;
    }

    @include mediaOver('tablet') {
        grid-template-columns: repeat(2, minmax(auto, 336px));
        grid-template-rows: minmax(495px, auto);
        row-gap: 32px;
        column-gap: 32px;
    }

    @include mediaOver('desktop') {
        grid-template-columns: repeat(3, minmax(auto, 394px));
        grid-template-rows: minmax(634px, auto);
        grid-column-gap: 16px;
        grid-row-gap: 32px;
    }
}

.grid-card__item {
    justify-self: center;
}

.movie-card__img {
    border-radius: 5px;
    @include mediaUpTo('desktop') {
        margin-bottom: 8px;
    }
    
    @include mediaOver('desktop') {
        margin-bottom: 12px;
    }
}

.movie-card__properties-list {
    font-weight: $font-medium;
    
    @include mediaUpTo('desktop') {
        font-size: 12px;
        line-height: 1.33;
    }
        
    @include mediaOver('desktop') {
        font-size: 20px;
        line-height: 1.2;
    }
}

.movie-card__movie-title {
    color: getColorFromPalette('gallery', 'dark');
}

.movie-card__movie-category {
    color: getColorFromPalette('gallery', 'ganres');
}