// .gallery {
// }


.film-card__box {
    display: flex;
    margin: 0;
    color: #FF6B08;
}

.film-card__item {
    margin: 0;
}

.film-card__item:not(:last-child) {
   margin-right: 7px;
}

.film-card__title {
    margin: 0;
}

.film-card__item--acсent {
    border-radius: 40px;
    background-color:#FF6B08;
    color: white;
   padding-left: 10px;
    padding-right: 10px;
}
