.header-library {
}

.header-library__background {
  height: 230px;
  min-width: 320px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;

  @include mediaOver('tablet') {
    height: 219px;
    max-width: 768px;
  }
  @include mediaOver('desktop') {
    height: 216px;
    max-width: 1280px;
  }

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/content/MyLibrary/1x-mobile-header.jpg);

  //Загрузка изображения в формате WebP 1x-mobile
  // background-image: -webkit-image-set(
  //   linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
  //   url(../images/content/MyLibrary/webP-1x-mobile.webp) 1x
  // );

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/content/MyLibrary/2x-mobile-header.jpg);

    // Загрузка изображения в формате WebP 2x-mobile
    // background-image: -webkit-image-set(
    //   linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    //   url(../images/content/MyLibrary/webP-2x-mobile.webp) 2x
    // );
  }

  @include mediaOver('tablet') {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/content/MyLibrary/1x-tablet-header.jpg);

    //Загрузка изображения в формате WebP 1x-tablet
    // background-image: -webkit-image-set(
    //   linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    //   url(../images/content/MyLibrary/webP-1x-tablet-.webp) 1x
    // );

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/content/MyLibrary/2x-tablet-header.jpg);

      //Загрузка изображения в формате WebP 2x-tablet
      // background-image: -webkit-image-set(
      //   linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      //   url(../images/content/MyLibrary/webP-2x-tablet-.webp) 2x
      // );
    }
  }
  @include mediaOver('desktop') {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/content/MyLibrary/1x-desktop-header.jpg);

    //Загрузка изображения в формате WebP 1x-desktop
    // background-image: -webkit-image-set(
    //   linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    //   url(../images/content/MyLibrary/webP-1x-desktop.webp) 1x
    // );

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(../images/content/MyLibrary/2x-desktop-header.jpg);

      //Загрузка изображения в формате WebP 2x-desktop
      // background-image: -webkit-image-set(
      //   linear-gradient(to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      //   url(../images/content/MyLibrary/webP-2x-desktop.webp) 2x
      // );
    }
  }
}

.navigation-library {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 60px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  line-height: 35px;
  gap: 10px;

  color: getColorFromPalette('primary', 'light');
  @extend %clean-link;
}

.logo-img {
  width: 24px;
  height: 24px;
}

.logo > span {
  display: none;
  @include mediaOver('tablet') {
    display: inline-block;
  }
}

.nav-group-library {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-group-library__item {
  position: relative;
  margin-left: 40px;

  @extend %unmarked-list;
}

.nav-group-library__link {
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: getColorFromPalette('primary', 'light');

  @extend %clean-link;
}

.header-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include mediaOver('tablet') {
    gap: 32px;
  }
  @include mediaOver('desktop') {
    gap: 16px;
  }
}

.nav-group-library__link--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: getColorFromPalette('secondary', 'red');
  background-color: getColorFromPalette('secondary', 'red');
  height: 3px;
}
