.header-library {
}

.header-library__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  color: rgba(0, 0, 0, 0.56);
}

.header-library--picture {
  z-index: -2;
}

.header-library__background-img {
  width: 100%;
  height: 230px;
  z-index: -2;
}

.navigation-library {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 30px;
  line-height: 1.16;
  gap: 10px;

  color: #ffffff;
  @extend %clean-link;
}

.logo-img {
  width: 24px;
  height: 24px;
}

.logo > span {
  display: none;
  @include mediaOver('tablet') {
    display: inline-block;
  }
}

.nav-group-library {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-group-library__item {
  position: relative;
  margin-left: 40px;

  @extend %unmarked-list;
}

.nav-group-library__link {
 
  font-size: 12px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  @extend %clean-link;
}

.header__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @include mediaOver('tablet') {
    gap: 32px;
  }
  @include mediaOver('desktop') {
    gap: 16px;
  }
}

.nav-group-library__link--current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: red;
  background-color: red;
  height: 3px;
}
