.pagination-section {
    margin-bottom: 60px;
}

.pagination {
    font-size: 12px;
    line-height: 1.33;

    display: flex;
    align-items: center;
    justify-content: center;

    @extend %unmarked-list;
}

.pagination__item {
    &--margin-right {
        margin-right: 16px;
    }

    &--invisible {
        @extend %visually-hidden;
    }
}

.pagination__btn {
    background: none;
    border: none;
    padding: 8px;
    border-radius: 5px;
    min-width: 40px;
    min-height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: background-color 250ms cubic-bezier(.57, .21, .69, 1.25);
    
    &--active {        
        background-color: getColorFromPalette('pagination', 'orange');
        color: getColorFromPalette('primary', 'light');
    }

    &-arrow {
        background-color: getColorFromPalette('pagination', 'grey');
    }

    &:hover {
        cursor: pointer;
        background-color: getColorFromPalette('pagination', 'orange');
        color: getColorFromPalette('primary', 'light');
        fill: getColorFromPalette('primary', 'light');
    }

    &:disabled {
        background-color: darkgrey;

        &:hover {
            cursor: default;
            background-color: darkgrey;
            fill: getColorFromPalette('primary', 'dark');
        }
    }
}

.pagination_svg {
    display: block;
}
